doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title P03 Portfolio

    link(rel="stylesheet" href="css/foundation.css")
    link(rel="stylesheet" href="css/app.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i|Varela', rel='stylesheet')
  body

    //-Responsive Navigation
    include components/nav.pug

    //-Header
    div(class="hero-full-screen")
      .top-content-section

      div(class="middle-content-section")
        h1 Hello! I'm Josh, and I am a
        .glitch(id="glitch-business" data-text='Business') Business
        .glitch(id="glitch-ux" data-text='Experience') Experience
        h1 Designer &amp; Strategist
        
        

      a(href='#main-content-section')
        img(src="images/down-arrow.svg")

    //- Main Section 

    div(id="main-content-section")
      h2 Featured Work
      div(class="grid-container")
        div(class="grid-x grid-padding-x ")
          div(class="cell medium-6")
            h2 VIA Journey
            p A digital solution designed to address VIA Rail's declining ridership, VIA Journey realigns VIA Rail's brand proposition through the concept that a journey is as valuable as the destination. 
            a(href="via_journey.html" class="button hollow blue") View
          div(class="cell medium-6")
            img(src="images/via.png")
              
          div(class="cell medium-6")
            h2 Toyota Guardian
            p A mobile application that leverages Toyota's existing products and brand equity to begin building trust and credibility in Toyota's future autonomous technologies.
            p Mentored by Chelsea Garber from ★ Inamoto &amp; Co.
            a(href="via_journey.html" class="button hollow blue") View
            
          div(class="cell medium-6")
            img(src="images/toyota-guardian.png")
          
          div(class="cell medium-6")
            h2 NCIX PC
            p A North American-wide market research project, with competitor analysis and business recommendations that were a major contribution to a 30% annual sales growth.
            a(href="via_journey.html" class="button hollow blue") View
            
          div(class="cell medium-6")
            img(src="images/market-research.png")
    //-Footer
    include components/footer.pug


    //- Script Load 
    script(src="js/vendor/jquery.js")
    script(src="js/vendor/what-input.js")
    script(src="js/vendor/foundation.js")
    script(src="js/app.js")
    script.
      $(document).foundation();
