doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title VIA Journey

    link(rel="stylesheet" href="css/foundation.css")
    link(rel="stylesheet" href="css/app.css")
    //- link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i|Varela', rel='stylesheet')
  body

    //-Responsive Navigation
    nav(class="top-bar topbar-responsive")
      div(class="top-bar-title")
        span(data-responsive-toggle="topbar-responsive" data-hide-for="medium")
          button(class="menu-icon" type="button" data-toggle="")
        a(class="topbar-responsive-logo" href="#")  JF
      div(id="topbar-responsive" class="topbar-responsive-links")
        div(class="top-bar-right")
          ul(class="menu simple vertical medium-horizontal")
            li
              a(href="#") UX/UI
            li
              a(href="#") Marketing
            li
              a(href="#") About
            li
              button(type="button" class="button hollow topbar-responsive-button") Contact

    //-Header
    div(class="hero-full-screen")
      .top-content-section

      div(class="middle-content-section")
        h1 Hello! I'm Josh, and I am a
        .glitch(id="glitch-business" data-text='Business') Business
        .glitch(id="glitch-ux" data-text='Experience') Experience
        h1 Designer &amp; Strategist
        
        

      a(href='#main-content-section')
        img(src="images/down-arrow.svg")

    //- Main Section 

    div(id="main-content-section")
      h2 Featured Work
      div(class="grid-container")
        div(class="grid-x grid-padding-x ")
          div(class="cell medium-6")
            h2 VIA Journey
            p A digital solution designed to address VIA Rail's declining ridership, VIA Journey realigns VIA Rail's brand proposition through the concept that a journey is as valuable as the destination. 
            button(class="button hollow blue") View
              a(href="via_journey.html")
          div(class="cell medium-6")
            img(src="images/via.png")
              
          div(class="cell medium-6")
            h2 Toyota Guardian
            p A mobile application that leverages Toyota's existing products and brand equity to begin building trust and credibility in Toyota's future autonomous technologies.
            p Mentored by Chelsea Garber from ★ Inamoto &amp; Co.
            button(class="button hollow blue") View
              a(href="#")
          div(class="cell medium-6")
            img(src="images/toyota-guardian.png")
          
          div(class="cell medium-6")
            h2 NCIX PC
            p A North American-wide market research project, with competitor analysis and business recommendations that were a major contribution to a 30% annual sales growth.
            button(class="button hollow blue") View
              a(href="#")
          div(class="cell medium-6")
            img(src="images/market-research.png")
    //-Footer
    footer(class="main-footer")
      div(class="grid-container")
        div(class="grid-x grid-margin-x")
          div(class="cell medium-4")
            h3 Site Map
            ul
              li 
                a(href="#") Home
              li
                a(href="#") UX/UI
              li
                a(href="#") Marketing
              li 
                a(href="#") About
              li
                a(href="#") Contact
          div(class="cell medium-4")
            h3 Process
            ul
              li
                a(href="#") Style Guide
              li 
                a(href="#") Github Repo 
              li
                a(href="#") Sketches
              
          div(class="cell medium-4" id="footer-last")
            h3 Citations
            ul
              li
                a(href="#") Coding
              li
                a(href="#") Media Assets 
        


    //- Script Load 
    script(src="js/vendor/jquery.js")
    script(src="js/vendor/what-input.js")
    script(src="js/vendor/foundation.js")
    script(src="js/app.js")
    script.
      $(document).foundation();
