
<footer class="main-footer">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-4">
        <h3>Site Map</h3>
        <ul>
          <li> <a href="#">Home</a></li>
          <li><a href="#">UX/UI</a></li>
          <li><a href="#">Marketing</a></li>
          <li> <a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="cell medium-4">
        <h3>Process</h3>
        <ul>
          <li><a href="#">Style Guide</a></li>
          <li> <a href="#">Github Repo </a></li>
          <li><a href="#">Sketches</a></li>
        </ul>
      </div>
      <div class="cell medium-4" id="footer-last">
        <h3>Citations</h3>
        <ul>
          <li><a href="#">Coding</a></li>
          <li><a href="#">Media Assets </a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>