
<nav class="top-bar topbar-responsive">
  <div class="top-bar-title"><span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle=""></button></span><a class="topbar-responsive-logo" href="#"> JF</a></div>
  <div class="topbar-responsive-links" id="topbar-responsive">
    <div class="top-bar-right">
      <ul class="menu simple vertical medium-horizontal">
        <li><a href="via_journey.html">UX/UI</a></li>
        <li><a href="#">Marketing</a></li>
        <li><a href="#">About</a></li>
        <li>
          <button class="button hollow topbar-responsive-button" type="button">Contact</button>
        </li>
      </ul>
    </div>
  </div>
</nav>