body {
  font-family: Roboto, Arial, sans-serif; }

.topbar-responsive {
  background: #fefefe;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid grey;
  -webkit-box-shadow: 1px 1px 5px 0px #636263;
  box-shadow: 1px 1px 5px 0px #636263; }

.topbar-responsive .topbar-responsive-logo {
  color: #2c3840;
  vertical-align: middle;
  font-weight: 500;
  font-size: 1.15em; }

.topbar-responsive .menu {
  background: #fefefe; }

.topbar-responsive .menu li:last-of-type {
  margin-right: 0; }

.topbar-responsive .menu a {
  color: #2c3840;
  font-weight: 400;
  -webkit-transition: color font-weight 0.15s ease-in;
  -o-transition: color font-weight 0.15s ease-in;
  transition: color font-weight 0.15s ease-in; }

.topbar-responsive .menu a:hover {
  color: #295ca4;
  font-weight: bold; }

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0; } }

.topbar-responsive .menu .topbar-responsive-button {
  color: #2c3840;
  border-color: #2c3840;
  border-radius: 5000px;
  -webkit-transition: color 0.15s ease-in, border-color 0.15s ease-in;
  -o-transition: color 0.15s ease-in, border-color 0.15s ease-in;
  transition: color 0.15s ease-in, border-color 0.15s ease-in; }

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #2c3840;
  border-color: #295ca4; }

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0; } }

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem; }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%; }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
    animation: fadeIn 1s ease-in; } }

.hero-full-screen {
  height: 90vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: white;
  background-size: cover; }

.hero-full-screen .top-content-section {
  text-align: center;
  width: 100%;
  -ms-flex-line-pack: center;
  align-content: center; }

.hero-full-screen .middle-content-section {
  text-align: center;
  color: black; }

.hero-full-screen .middle-content-section h1 {
  font-family: Varela, Arial, sans-serif; }

.hero-full-screen .bottom-content-section {
  padding: 1rem; }

.hero-full-screen img {
  max-width: 3rem;
  margin-bottom: 1rem; }

.glitch {
  color: #295ca4;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin-left: 0.8em; }

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(92px, 9999px, 12px, 0); }
  5% {
    clip: rect(8px, 9999px, 29px, 0); }
  10% {
    clip: rect(53px, 9999px, 1px, 0); }
  15% {
    clip: rect(57px, 9999px, 75px, 0); }
  20% {
    clip: rect(29px, 9999px, 88px, 0); }
  25% {
    clip: rect(81px, 9999px, 16px, 0); }
  30% {
    clip: rect(69px, 9999px, 25px, 0); }
  35% {
    clip: rect(31px, 9999px, 56px, 0); }
  40% {
    clip: rect(9px, 9999px, 73px, 0); }
  45% {
    clip: rect(25px, 9999px, 63px, 0); }
  50% {
    clip: rect(25px, 9999px, 97px, 0); }
  55% {
    clip: rect(32px, 9999px, 72px, 0); }
  60% {
    clip: rect(66px, 9999px, 20px, 0); }
  65% {
    clip: rect(97px, 9999px, 2px, 0); }
  70% {
    clip: rect(59px, 9999px, 90px, 0); }
  75% {
    clip: rect(28px, 9999px, 92px, 0); }
  80% {
    clip: rect(37px, 9999px, 97px, 0); }
  85% {
    clip: rect(86px, 9999px, 95px, 0); }
  90% {
    clip: rect(52px, 9999px, 58px, 0); }
  95% {
    clip: rect(42px, 9999px, 25px, 0); }
  100% {
    clip: rect(15px, 9999px, 85px, 0); } }

@keyframes noise-anim {
  0% {
    clip: rect(92px, 9999px, 12px, 0); }
  5% {
    clip: rect(8px, 9999px, 29px, 0); }
  10% {
    clip: rect(53px, 9999px, 1px, 0); }
  15% {
    clip: rect(57px, 9999px, 75px, 0); }
  20% {
    clip: rect(29px, 9999px, 88px, 0); }
  25% {
    clip: rect(81px, 9999px, 16px, 0); }
  30% {
    clip: rect(69px, 9999px, 25px, 0); }
  35% {
    clip: rect(31px, 9999px, 56px, 0); }
  40% {
    clip: rect(9px, 9999px, 73px, 0); }
  45% {
    clip: rect(25px, 9999px, 63px, 0); }
  50% {
    clip: rect(25px, 9999px, 97px, 0); }
  55% {
    clip: rect(32px, 9999px, 72px, 0); }
  60% {
    clip: rect(66px, 9999px, 20px, 0); }
  65% {
    clip: rect(97px, 9999px, 2px, 0); }
  70% {
    clip: rect(59px, 9999px, 90px, 0); }
  75% {
    clip: rect(28px, 9999px, 92px, 0); }
  80% {
    clip: rect(37px, 9999px, 97px, 0); }
  85% {
    clip: rect(86px, 9999px, 95px, 0); }
  90% {
    clip: rect(52px, 9999px, 58px, 0); }
  95% {
    clip: rect(42px, 9999px, 25px, 0); }
  100% {
    clip: rect(15px, 9999px, 85px, 0); } }

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: #295ca4;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(94px, 9999px, 86px, 0); }
  5% {
    clip: rect(94px, 9999px, 27px, 0); }
  10% {
    clip: rect(50px, 9999px, 86px, 0); }
  15% {
    clip: rect(90px, 9999px, 13px, 0); }
  20% {
    clip: rect(75px, 9999px, 52px, 0); }
  25% {
    clip: rect(70px, 9999px, 91px, 0); }
  30% {
    clip: rect(89px, 9999px, 7px, 0); }
  35% {
    clip: rect(36px, 9999px, 76px, 0); }
  40% {
    clip: rect(43px, 9999px, 39px, 0); }
  45% {
    clip: rect(62px, 9999px, 72px, 0); }
  50% {
    clip: rect(40px, 9999px, 50px, 0); }
  55% {
    clip: rect(31px, 9999px, 26px, 0); }
  60% {
    clip: rect(70px, 9999px, 72px, 0); }
  65% {
    clip: rect(80px, 9999px, 19px, 0); }
  70% {
    clip: rect(46px, 9999px, 90px, 0); }
  75% {
    clip: rect(87px, 9999px, 3px, 0); }
  80% {
    clip: rect(78px, 9999px, 7px, 0); }
  85% {
    clip: rect(83px, 9999px, 12px, 0); }
  90% {
    clip: rect(76px, 9999px, 59px, 0); }
  95% {
    clip: rect(26px, 9999px, 19px, 0); }
  100% {
    clip: rect(15px, 9999px, 39px, 0); } }

@keyframes noise-anim-2 {
  0% {
    clip: rect(94px, 9999px, 86px, 0); }
  5% {
    clip: rect(94px, 9999px, 27px, 0); }
  10% {
    clip: rect(50px, 9999px, 86px, 0); }
  15% {
    clip: rect(90px, 9999px, 13px, 0); }
  20% {
    clip: rect(75px, 9999px, 52px, 0); }
  25% {
    clip: rect(70px, 9999px, 91px, 0); }
  30% {
    clip: rect(89px, 9999px, 7px, 0); }
  35% {
    clip: rect(36px, 9999px, 76px, 0); }
  40% {
    clip: rect(43px, 9999px, 39px, 0); }
  45% {
    clip: rect(62px, 9999px, 72px, 0); }
  50% {
    clip: rect(40px, 9999px, 50px, 0); }
  55% {
    clip: rect(31px, 9999px, 26px, 0); }
  60% {
    clip: rect(70px, 9999px, 72px, 0); }
  65% {
    clip: rect(80px, 9999px, 19px, 0); }
  70% {
    clip: rect(46px, 9999px, 90px, 0); }
  75% {
    clip: rect(87px, 9999px, 3px, 0); }
  80% {
    clip: rect(78px, 9999px, 7px, 0); }
  85% {
    clip: rect(83px, 9999px, 12px, 0); }
  90% {
    clip: rect(76px, 9999px, 59px, 0); }
  95% {
    clip: rect(26px, 9999px, 19px, 0); }
  100% {
    clip: rect(15px, 9999px, 39px, 0); } }

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: #295ca4;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }

#main-content-section {
  margin-top: 3rem; }

#middle-content-section svg {
  fill: black; }

#main-content-section h2 {
  text-align: center;
  font-family: Varela, Arial, sans-serif; }

#main-content-section ul li {
  color: black; }

#main-content-section .grid-container .medium-6 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto 0;
  padding-top: 3rem; }

#main-content-section .grid-container h2 {
  text-align: left;
  font-family: Roboto; }

#glitch-ux {
  display: none;
  margin-left: 2rem; }

.main-footer {
  margin-top: 6rem;
  background-color: #2c3840; }

.main-footer a {
  color: #fefefe;
  -webkit-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in; }

.main-footer a:hover {
  color: #c6d1d8; }

.main-footer h3 {
  color: white;
  margin-top: 1rem; }

.main-footer h3, ul, li {
  color: white; }

.main-footer .grid-container .cell ul {
  border-right: 1px solid white; }

#footer-last ul {
  border-style: none; }

.main-footer h3 {
  font-size: 1rem;
  font-weight: 600; }

.main-footer ul {
  list-style: none; }

#bgVideo {
  height: auto; }

.spacer {
  height: 8rem; }

#second-nav {
  margin-top: 3rem;
  background-color: #295ca4;
  height: 4rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#second-nav a {
  color: white;
  font-weight: 400;
  -webkit-transition: color font-weight 0.2s;
  -o-transition: color font-weight 0.2s;
  transition: color font-weight 0.2s; }

#second-nav a:hover {
  color: #c6d1d8;
  font-weight: bold; }

#second-nav li {
  margin-right: 2rem; }

.content-sections section {
  margin-top: 10rem; }

.content-sections .cell {
  margin-top: 2rem; }

#business h3 {
  text-align: left;
  margin-top: 2rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #295ca4;
  text-decoration-color: #295ca4; }

#business li {
  color: black;
  margin-top: 1rem; }
