footer(class="main-footer")
  div(class="grid-container")
    div(class="grid-x grid-margin-x")
      div(class="cell medium-4")
        h3 Site Map
        ul
          li 
            a(href="#") Home
          li
            a(href="#") UX/UI
          li
            a(href="#") Marketing
          li 
            a(href="#") About
          li
            a(href="#") Contact
      div(class="cell medium-4")
        h3 Process
        ul
          li
            a(href="#") Style Guide
          li 
            a(href="#") Github Repo 
          li
            a(href="#") Sketches
          
      div(class="cell medium-4" id="footer-last")
        h3 Citations
        ul
          li
            a(href="#") Coding
          li
            a(href="#") Media Assets 
