nav(class="top-bar topbar-responsive")
  div(class="top-bar-title")
    span(data-responsive-toggle="topbar-responsive" data-hide-for="medium")
      button(class="menu-icon" type="button" data-toggle="")
    a(class="topbar-responsive-logo" href="index.html")  JF
  div(id="topbar-responsive" class="topbar-responsive-links")
    div(class="top-bar-right")
      ul(class="menu simple vertical medium-horizontal")
        li
          a(href="via_journey.html") UX/UI
        li
          a(href="#") Marketing
        li
          a(href="#") About
        li
          button(type="button" class="button hollow topbar-responsive-button") Contact
